@model MyCalculatorApp.web.Models.CalculatorModel

@{
    ViewData["Title"] = "Az.Web";
}
<style>
    .text-center{
        background-color:blueviolet;
        border:2px solid black;
    }
</style>
<form asp-action="Index">
    <div class="text-center">
        <h1 class="display-4">My Basic Calculator 🧮</h1>
        <p><label>First Value</label></p>
        <p><input type="number" asp-for="Value1" /></p>
        <p><label>Second Value</label></p>
        <p><input type="number" asp-for="Value2" /></p>
        <p>
            <button type="submit" name="operation" value="add" class="btn btn-primary">add</button>
            <button type="submit" name="operation" value="sub" class="btn btn-danger">sub</button>
            <button type="submit" name="operation" value="mul" class="btn btn-success">mul</button>
            <button type="submit" name="operation" value="div" class="btn btn-warning">div</button>
        </p>
        @if (Model != null)
        {
            <p>Result: <strong>@Model.Result</strong></p>
        }
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p class="text-danger">@error.ErrorMessage</p>
        }
    </div>
</form>

        
